.navbar {
    width: 98vw;
    height: auto;
    background-color: #C3FAE8;
    padding: 1vw;
    font-weight: bold;
}

.wrap {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.hero {
    text-align: center;
}